<h2>Ruby on Rails Guides 中文 (<%= @version %>)</h2>

<% if @edge %>
<p>
  这是一个 <b>Edge Guides</b>, 基於 <a href="https://github.com/rails/rails/tree/<%= @version %>">master</a> 分支.
</p>
<p>
  如果你需要的是一个稳定版的文档，你可以参见 <a href="#">这里</a> 
</p>
<% else %>
<p>
  这里是一个全新的Rails Guides for Rails 基于 <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>.
  这份教程能让你更快更高效用Rails进行开发，让你你更深入地了解Rails的一切。
</p>
<% end %>
<p>
  你能在这里找到官方的原版<a href="http://guides.rubyonrails.org"> Rails Guide </a> .
</p>
<p>
  Ruby on Rails Guides 中文需要热心的你,<a href="rails_guides_contribute_rules.html">加入翻译</a>或者<a href="http://github.com/ruby-china-translation/issues">建议</a>.
</p>
